*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FFF;
}

* {
  font-family: "Helvetica";
  border: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ol,
ul,
dl {
  padding: 0;
  padding-left: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  margin-bottom: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 0.5rem;
}
html::-webkit-scrollbar-track {
  background: #5188DA;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

main {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: "Helvetica";
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1.6rem;
}

[class^=title-] {
  font-family: "Handil Pro";
}

.title-first {
  color: #FFF;
  font-feature-settings: "liga" off;
  font-size: 7.2rem;
  font-weight: 500;
  line-height: 7.2rem;
}

.title-secondary {
  color: #FFF;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 3.2rem;
}

.title-third {
  color: #5188DA;
  font-size: 5rem;
  font-weight: 500;
  line-height: 5.6rem;
}

.title-menu {
  color: #FFF;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 4.8rem;
}

.paragraph-h {
  color: #141515;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.paragraph-p {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.heading {
  border-left: 0.8rem solid #5188DA;
  padding-left: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.title-news {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: #141515;
}

.title-date {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #9A9DA3;
}

@media all and (max-width: 76.8rem) {
  .title-first {
    font-size: 3.6rem;
    line-height: 4rem;
  }
  .title-secondary {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .heading {
    padding-left: 1.2rem;
    gap: 1.2rem;
  }
  .title-news {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.8rem;
  }
  .title-third {
    font-size: 3.6rem;
    line-height: 4rem;
  }
}
.button:link, .button:visited {
  display: inline-block;
  position: relative;
  background-color: #FFF;
  color: #141515;
  padding: 2rem 6rem;
  border-radius: 2.6rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  transition: all 0.3s;
}
.button:hover {
  transform: translateY(-0.4rem) scale(1.04);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.button:active {
  transform: translateY(-0.2rem) scale(1);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.3);
}
.button__outline:link, .button__outline:visited {
  border: 0.1rem solid #FFF;
  background-color: transparent;
  color: #FFF;
}
.button__blue:link, .button__blue:visited {
  background-color: #5188DA;
  color: #FFF;
}
.button__mobile:link, .button__mobile:visited {
  display: none;
}

@media all and (max-width: 76.8rem) {
  .button__mobile:link, .button__mobile:visited {
    display: inline-block;
    border: 0.1rem solid #063479;
    text-align: center;
  }
}
.header {
  padding: 4.5rem 7.2rem;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}
.header__logo.change_blue svg path {
  transition: all 0.4s;
  fill: #222222;
}
.header__logo.change_blue svg path.logo_heart {
  fill: #5188DA;
}
.header__sandwich_btn {
  position: fixed;
  top: 0;
  right: 0;
  width: 16rem;
  height: 7.6rem;
  cursor: pointer;
  z-index: 10;
}
.header__sandwich_btn.change_blue::before, .header__sandwich_btn.change_blue::after {
  background-color: #141515;
}
.header__sandwich_btn:hover::before {
  transform: translate(-50%, -700%);
}
.header__sandwich_btn:hover::after {
  transform: translate(-50%, 700%);
}
.header__sandwich_btn::before, .header__sandwich_btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.6rem;
  height: 0.1rem;
  background-color: white;
  transition-duration: 0.5s, 0.4s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  transition-property: background, transform;
}
.header__sandwich_btn::before {
  top: 44%;
  transform: translate(-50%, -400%);
}
.header__sandwich_btn::after {
  bottom: unset;
  transform: translate(-50%, 400%);
}
.header__sidebar_right {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 16rem;
}
.header__contacts {
  position: fixed;
  z-index: 11;
  bottom: 7.6rem;
  left: 7.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.header__contacts.change_blue a {
  color: #434443;
  transition: all 0.3s;
}
.header__menu_btn, .header__menu_btn_close {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) rotate(90deg);
  transition-duration: 0.4s, 0.6s;
  transition-timing-function: ease, ease-out;
  transition-delay: 0.2s, 0.2s;
  transition-property: opacity, transform;
  text-transform: uppercase;
  color: #FFF;
  cursor: pointer;
}
.header__menu_btn.change_blue, .header__menu_btn_close.change_blue {
  color: #063479;
}
.header__menu_btn.active {
  opacity: 0;
  transform: translate(200%, -50%) rotate(90deg);
}
.header__menu_btn_close {
  opacity: 0;
  transform: translate(200%, -50%) rotate(90deg);
}
.header__menu_btn_close.active {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(90deg);
}
.header .year {
  position: absolute;
  left: 50%;
  bottom: 7.6rem;
  transform: translate(-50%, -50%);
  color: #9A9DA3;
  transition: 0.4s all;
}
.header .year.change_blue {
  color: #7B7A9F;
}

@media all and (max-width: 76.8rem) {
  .header {
    padding: 3.2rem 1.6rem;
  }
  .header__sandwich_btn {
    width: 8rem;
    height: 10rem;
  }
  .header__sidebar_right {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .header__menu_btn, .header__menu_btn_close {
    display: none;
  }
  .header .year {
    display: none;
  }
}
.sidebar_lines::before, .sidebar_lines::after {
  z-index: 10;
  content: "";
  width: 1px;
  background-color: #7B7A9F;
  height: 100%;
  position: fixed;
  left: 19.5833333333%;
  top: 0;
}
.sidebar_lines::after {
  left: unset;
  right: 11.1111111111%;
}

.sandwich_menu {
  padding: 4.4rem 16rem 7.6rem 19.5833333333%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #5188DA;
  transform: translateY(-100%);
  transition: transform 500ms ease-out 0s;
  overflow: hidden;
}
.sandwich_menu.active {
  transform: translateY(0);
}
.sandwich_menu__section {
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.sandwich_menu .sandwich_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5.2rem;
}
.sandwich_menu .sandwich_box ul {
  display: flex;
  flex-direction: column;
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
}
.sandwich_menu .sandwich_box ul li a {
  font-family: "Handil Pro";
  margin-bottom: 2.4rem;
  opacity: 1;
  transition: all 0.4s ease-in-out;
  width: 100%;
  display: inline-block;
}
.sandwich_menu .sandwich_box ul:hover a {
  opacity: 0.3;
}
.sandwich_menu .sandwich_box ul li a:hover {
  opacity: 1;
}
.sandwich_menu .sandwich_box .form_wrapper h2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 48px;
  margin-bottom: 2.4rem;
  font-family: "Handil Pro";
}
.sandwich_menu .sandwich_box .form_wrapper form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sandwich_menu .sandwich_box .form_wrapper form input:not(:last-child) {
  background: transparent;
  border-bottom: 1px solid #FFF;
  padding-bottom: 0.4rem;
  color: #FFF;
}
.sandwich_menu .sandwich_box .form_wrapper form input:not(:last-child)::-moz-placeholder {
  color: #FFF;
  opacity: 0.7;
  background: transparent;
}
.sandwich_menu .sandwich_box .form_wrapper form input:not(:last-child)::placeholder {
  color: #FFF;
  opacity: 0.7;
  background: transparent;
}
.sandwich_menu .sandwich_box .form_wrapper form input.button {
  background-color: #FFF;
  border-radius: 2.6rem;
  margin-top: 1.2rem;
  padding: 2rem 6rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 12px;
  color: #5188DA;
  transition: all 0.3s;
}
.sandwich_menu .sandwich__mobile {
  display: none;
}

@media all and (max-width: 76.8rem) {
  .sidebar_lines::before, .sidebar_lines::after {
    display: none;
  }
  .sandwich_menu {
    padding: 0;
  }
  .sandwich_menu__section {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .sandwich_menu__section .address {
    display: none;
  }
  .sandwich_menu .sandwich_box {
    justify-content: center;
    text-align: center;
    margin-top: 13rem;
  }
  .sandwich_menu .sandwich_box ul {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .sandwich_menu .sandwich_box ul li a {
    margin-bottom: 2rem;
  }
  .sandwich_menu .sandwich_box ul:hover a {
    opacity: 0.3;
  }
  .sandwich_menu .sandwich_box ul li a:hover {
    opacity: 1;
  }
  .sandwich_menu .sandwich_box .form_wrapper {
    display: none;
  }
  .sandwich_menu .sandwich__mobile {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: auto;
    margin-bottom: 6rem;
    padding-inline: 1.6rem;
  }
  .sandwich_menu .sandwich__mobile p {
    max-width: 24.7rem;
  }
  .sandwich_menu .sandwich__mobile_contacts {
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .sandwich_menu .sandwich__mobile_contacts_links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
[class^=swiper-main] {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  list-style: none;
  z-index: 1;
}
[class^=swiper-main] > .swiper-pagination {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: fixed;
  top: 50%;
  left: 7.2rem;
  z-index: 5;
  transform: translateY(-50%);
  z-index: 10;
  width: -moz-fit-content;
  width: fit-content;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet {
  position: relative;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  background: transparent;
  transition: all 0.2s;
  height: -moz-fit-content;
  height: fit-content;
  color: #9A9DA3;
  opacity: 0.7;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet.change_blue {
  color: #7B7A9F;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet.change_blue::before {
  background: #7B7A9F;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7rem;
  width: 2.8rem;
  height: 1px;
  background: #9A9DA3;
  margin-left: 2.8rem;
  transition: all 0.5s;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet-active {
  backface-visibility: hidden;
  color: #FFF;
  opacity: 1;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet-active.change_blue {
  color: #063479;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet-active.change_blue::before {
  background: #063479;
}
[class^=swiper-main] > .swiper-pagination > .swiper-pagination-bullet-active::before {
  background: #FFF;
  width: 5.6rem;
  margin-left: 0;
}
[class^=swiper-main] > .swiper-wrapper {
  transition: 1000ms;
  height: 100vh;
}
[class^=swiper-main] > .swiper-wrapper > .swiper-slide {
  padding-left: 19.5833333333%;
  overflow: hidden;
}

@media all and (max-width: 76.8rem) {
  [class^=swiper-main] {
    max-height: none;
  }
  [class^=swiper-main] > .swiper-pagination {
    display: none;
  }
  [class^=swiper-main] > .swiper-wrapper {
    height: auto;
    flex-direction: column;
  }
  [class^=swiper-main] > .swiper-wrapper > .swiper-slide {
    padding-inline: 0;
  }
}
.home {
  padding: 4.4rem 7.1rem 7.6rem 3.2rem;
}
.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-blend-mode: darken;
  background: url(../src/img/main-bg.webp) center/cover, rgba(23, 23, 23, 0.8);
}
.home__content {
  width: 67vw;
  display: flex;
  flex-direction: column;
}
.home__box {
  margin-top: 18.4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.home__box-title .title-first__span:nth-child(3) {
  margin-left: 8rem;
}
.home__box-title .title-first__span:last-child {
  margin-left: 16rem;
}
.home__box-descr {
  max-width: 42.9rem;
  margin-left: auto;
  margin-top: 1.6rem;
}
.home__box .for-margin {
  margin: 9.2rem 22.9rem 0 auto;
}

@media all and (max-width: 76.8rem) {
  .home {
    padding: 0 0 4rem 0;
    height: 100vh;
  }
  .home__bg {
    height: 100%;
    background: url(../src/img/main-bg.webp) left/cover, rgba(23, 23, 23, 0.8);
  }
  .home__content {
    width: 100%;
    height: 100%;
    padding-inline: 1.6rem;
  }
  .home .address {
    display: none;
  }
  .home__box {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }
  .home__box-title {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
  }
  .home__box-title .title-first__span:nth-child(3) {
    margin-left: 0;
  }
  .home__box-title .title-first__span:last-child {
    margin-left: 0;
  }
  .home__box-descr {
    max-width: 100%;
    margin-left: 0;
    margin-top: auto;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .home__box .for-margin {
    margin: 2.4rem 0 0 0;
    text-align: center;
  }
}
.medication {
  padding: 4.4rem 0 0 0;
}
.medication_content {
  width: 69.3vw;
}
.medication__heading h2 {
  color: #434443;
}
.medication__heading h3 {
  color: #063479;
}
.medication__wrapper {
  margin-top: 2rem;
}
.medication__grid_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.medication__card {
  position: relative;
  padding: 2.8rem 3.2rem 4.4rem;
  height: 46.0975609756vh;
  overflow: hidden;
  z-index: 0;
  border: 0.05rem solid #7B7A9F;
}
.medication__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: white;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.medication__card:hover::after {
  transform: translateX(100%);
  transition: all 0.8s ease-in-out;
}
.medication__card:hover .margin_span, .medication__card:hover .margin_h {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.medication__card:hover .medication__card_inner {
  background-size: 180%;
  transition: background-size 15s;
}
.medication__card .margin_span {
  color: #7B7A9F;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.medication__card .margin_h {
  margin-top: 1.6rem;
  color: #063479;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.medication__card_inner {
  padding: 2.8rem 3.2rem 4.4rem;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  height: 46.0975609756vh;
  background-blend-mode: darken;
  background-position: center;
  background-size: 110%;
  transition: background-size 5s;
  display: flex;
  flex-direction: column;
}
.medication__card_inner .margin_inner_a {
  padding: 2rem 6rem;
  margin-top: auto;
  color: #063479;
  text-align: center;
}
.medication__card_inner .margin_inner_p {
  margin-top: 1.2rem;
}
.medication__card_inner .margin_inner_h {
  margin-top: 1.6rem;
  color: #FFF;
}
.medication__card_inner .margin_inner_span {
  color: #9A9DA3;
}
.medication__grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.medication__card_big {
  height: 36.1219512195vh;
  padding: 2.9rem 3.2rem 4.1rem 3.2rem;
  border-bottom: 0.1rem solid #7B7A9F;
}
.medication__card_big:hover .opacity {
  opacity: 0;
}
.medication__card_big .head_card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
}
.medication__card_big .head_card.opacity {
  transition: 1s all;
}
.medication__card_big .head_card.opacity h3 {
  color: #063479;
}
.medication__card_big .head_card.opacity span {
  color: #7B7A9F;
}
.medication__card_big .head_card h3 {
  color: #FFF;
}
.medication__card_big .head_card span {
  color: #9A9DA3;
}
.medication__card_big .body_card {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.medication__card_big .body_card p {
  max-width: 24.8rem;
}
.medication__card_big .body_card img {
  width: 100%;
  height: 100%;
}
.medication__card_big_inner {
  height: auto;
  height: 36.1219512195vh;
}
.medication__card_big_inner .margin_inner_a {
  width: -moz-fit-content;
  width: fit-content;
}

@media all and (max-width: 76.8rem) {
  .medication {
    padding: 6rem 0 0 0;
  }
  .medication_content {
    width: 100%;
  }
  .medication__heading {
    margin-inline: 1.6rem;
  }
  .medication__grid_1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .medication__card {
    padding: 2.8rem 1.6rem 4rem;
    height: 30rem;
    border: none;
    border-top: 0.1rem solid #7B7A9F;
  }
  .medication__card .head_card_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .medication__card .margin_h {
    margin-top: 0;
  }
  .medication__card_inner {
    padding: 2.8rem 1.6rem 4rem;
    height: 30rem;
  }
  .medication__card_inner .margin_inner_p {
    margin-top: 2rem;
  }
  .medication__card_inner .margin_inner_h {
    margin-top: 0;
  }
  .medication__grid_2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .medication__card_big {
    height: 30rem;
    padding: 2.8rem 1.6rem 4rem;
    border-bottom: none;
  }
  .medication__card_big .body_card {
    margin-top: 2rem;
  }
  .medication__card_big .body_card p {
    max-width: 100%;
  }
  .medication__card_big .body_card img {
    display: none;
  }
  .medication__card_big_inner {
    height: 30rem;
  }
  .medication__card_big_inner .margin_inner_a {
    width: 100%;
  }
}
.company {
  padding-top: 4.4rem;
  height: 100%;
}
.company__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-blend-mode: darken;
  background: url(../src/img/bg-about.webp) center/cover, rgba(23, 23, 23, 0.8);
}
.company__content {
  width: 69.3vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.company__box {
  padding: 2rem 6.4rem 4rem 3.2rem;
  display: flex;
  flex-direction: column;
}
.company__box a {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}
.company__box_desc {
  display: flex;
  gap: 3.2rem;
}
.company__box_desc p {
  max-width: 43.5rem;
}
.company__facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 26.3414634146vh;
  border-top: 0.1rem solid #555555;
  margin-top: auto;
}
.company__facts .fact {
  padding: 3.6rem 3.2rem;
}
.company__facts .fact:not(:last-child) {
  border-right: 0.1rem solid #555555;
}
.company__facts .fact span {
  color: #9A9DA3;
  margin-bottom: 2.4rem;
  display: inline-block;
}
.company__facts .fact h3 {
  color: #FFF;
}

@media all and (max-width: 76.8rem) {
  .company {
    padding-top: 6rem;
  }
  .company__bg {
    width: 100%;
    height: 100%;
  }
  .company__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .company__content .heading {
    margin-inline: 1.6rem;
  }
  .company__box {
    padding: 0;
    margin-top: 2rem;
    padding-inline: 1.6rem;
  }
  .company__box a {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .company__box_desc {
    flex-direction: column;
    gap: 0;
    margin-bottom: 2.8rem;
  }
  .company__box_desc p {
    max-width: 100%;
  }
  .company__facts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    border-top: none;
    margin-top: 2.7rem;
  }
  .company__facts .fact {
    padding: 1.4rem 1.6rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
  }
  .company__facts .fact:not(:last-child) {
    border-right: none;
  }
  .company__facts .fact:not(:first-child) {
    border-top: 0.1rem solid #555;
  }
  .company__facts .fact span {
    margin-bottom: 0;
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}
.services {
  padding-top: 4.4rem;
  height: 90vh;
}
.services__content {
  width: 69.3vw;
  height: 100%;
}
.services__heading h2 {
  color: #434443;
}
.services__heading h3 {
  color: #063479;
}
.services__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  margin-top: 2rem;
}
.services__tabs [data-tabs] {
  border: none;
}
.services__tabs [data-tabs] li {
  width: 100%;
}
.services__tabs [data-tabs] li a {
  padding: 1.6rem 3.2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0;
  transition: all 0.3s;
}
.services__tabs [data-tabs] li a:hover {
  border: none;
}
.services__tabs [data-tabs] li a span {
  color: #9A9DA3;
}
.services__tabs [data-tabs] li a[aria-selected=true] {
  background-color: #5188DA;
}
.services__tabs [data-tabs] li a[aria-selected=true] span {
  color: #FFF;
}
.services__tabs [data-tabs] li a[aria-selected=true] h3 {
  color: #FFF;
}
.services__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: darken;
  z-index: -1;
  background-position: center;
  background-size: cover;
}
.services__desc {
  grid-row: span 2;
}
.services__desc_inner {
  position: relative;
  padding: 1.6rem 3.2rem 7.6rem 3.2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}
.services__desc_inner h3 {
  color: #FFF;
}
.services__desc_inner hr {
  position: absolute;
  top: 5.5rem;
  left: 0;
  width: 100%;
  opacity: 1;
  margin: 0;
  color: #FFF;
}
.services__desc_inner p {
  margin-top: 4.4rem;
  margin-bottom: auto;
}
.services__desc_inner a {
  text-align: center;
}
.services__desc_inner a.margin {
  margin-bottom: 1.6rem;
}
.services__pride {
  padding: 0 6rem 7.6rem 3.2rem;
  margin-top: auto;
}
.services__pride p {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #9A9DA3;
}

@media all and (max-width: 76.8rem) {
  .services {
    padding-top: 6rem;
    height: 100%;
  }
  .services__content {
    width: 100%;
  }
  .services__heading {
    margin-inline: 1.6rem;
  }
  .services__box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: none;
    height: 100%;
    margin-top: 2.5rem;
  }
  .services__tabs {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .services__tabs::-webkit-scrollbar {
    height: 0.5rem;
  }
  .services__tabs::-webkit-scrollbar-track {
    background: #063479;
  }
  .services__tabs::-webkit-scrollbar-thumb {
    background: #5188DA;
  }
  .services__tabs [data-tabs] {
    display: flex;
  }
  .services__tabs [data-tabs] li {
    width: -moz-fit-content;
    width: fit-content;
    flex-shrink: 0;
  }
  .services__tabs [data-tabs] li a {
    padding: 1.6rem;
    gap: 7rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .services__desc {
    grid-row: none;
  }
  .services__desc_inner {
    padding: 1.6rem 1.6rem 3.2rem 1.6rem;
  }
  .services__desc_inner hr {
    top: 5rem;
  }
  .services__desc_inner p {
    margin-top: 3.7rem;
    margin-bottom: 3.8rem;
  }
  .services__pride {
    padding: 1.6rem 1.6rem 0;
    margin-top: 0;
  }
}
.news {
  padding-top: 4.4rem;
  height: 100%;
}
.news__content {
  width: 69.3vw;
}
.news_head {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-right: 1rem;
}
.news_head a {
  height: -moz-fit-content;
  height: fit-content;
  border: 0.1rem solid #063479;
}
.news__heading h2 {
  color: #434443;
}
.news__heading h3 {
  color: #063479;
}
.news__box {
  border-top: 0.05rem solid #7B7A9F;
  border-bottom: 0.05rem solid #7B7A9F;
  margin-top: 2rem;
  height: 100%;
}
.news .grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news .grid_item {
  padding: 3.6rem 3.2rem 3.8rem;
  border: 0.05rem solid #7B7A9F;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(0deg, rgba(23, 23, 23, 0.8) 0%, rgba(23, 23, 23, 0.8) 100%), url("../../src/img/news-1.webp");
  background-size: 130%;
  background-position: center;
  z-index: 0;
  transition: background-size 10s;
}
.news .grid_item h2 {
  margin-bottom: 0.4rem;
  transition: all 1s ease;
}
.news .grid_item p {
  color: #9A9DA3;
  transition: all 1s ease;
}
.news .grid_item .item-p {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.news .grid_item .date-and-link {
  display: flex;
  justify-content: space-between;
  transition: all 1s;
}
.news .grid_item .date-and-link a {
  color: #5188DA;
}
.news .grid_item .date-and-link p {
  font-family: "Helvetica";
}
.news .grid_item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #FFF;
  transform: translateX(0);
  transition: all 0.7s ease;
}
.news .grid_item:hover {
  background-size: 170%;
}
.news .grid_item:hover::after {
  transform: translateX(100%);
}
.news .grid_item:hover h2, .news .grid_item:hover p {
  color: #FFF;
}
.news .grid_item:hover .date-and-link a, .news .grid_item:hover .date-and-link p {
  color: #FFF;
}

@media all and (max-width: 76.8rem) {
  .news {
    padding-top: 6rem;
  }
  .news__content {
    width: 100%;
  }
  .news_head {
    padding-right: 0;
    padding-inline: 1.6rem;
  }
  .news_head a:link, .news_head a:visited {
    display: none;
  }
  .news__box {
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }
  .news .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .news .grid_item {
    padding: 1.6rem;
    border: none;
    border-top: 0.1rem solid #7B7A9F;
  }
  .news .grid_item:last-child {
    border-bottom: 0.1rem solid #7B7A9F;
  }
  .news .grid_item h2 {
    margin-bottom: 0.8rem;
  }
  .news .grid_item .item-p {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .news a.button:link, .news a.button:visited {
    width: 95%;
    margin-inline: auto;
  }
}
.contacts {
  padding-top: 4.4rem;
  height: 100%;
}
.contacts__content {
  width: 69.3vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts__heading h2 {
  color: #434443;
}
.contacts__heading h3 {
  color: #063479;
}
.contacts__box {
  border-top: 0.05rem solid #7B7A9F;
  display: flex;
  width: 100%;
  margin-top: 2rem;
}
.contacts__box_inner {
  width: 50%;
  border: 0.05rem solid #7B7A9F;
}
.contacts__box .addresses {
  padding: 2.4rem 3.2rem 3.2rem;
}
.contacts__box .addresses h2 {
  margin-bottom: 1.2rem;
}
.contacts__box .addresses p {
  color: #434443;
}
.contacts__box .addresses p a {
  color: #434443;
  transition: all 0.4s;
}
.contacts__box .addresses p a:hover {
  color: #063479;
}
.contacts__box .addresses p:first-child {
  margin-bottom: 0.8rem;
}
.contacts__box .addresses p:nth-child(1n):not(:last-child) {
  margin-bottom: 0.4rem;
}
.contacts__box .addresses p:nth-child(2n):not(:last-child) {
  margin-bottom: 0.8rem;
}
.contacts__box .order {
  padding: 2.4rem;
}
.contacts__box .order h2 {
  margin-bottom: 0.8rem;
}
.contacts__box .order form {
  display: flex;
  flex-direction: column;
}
.contacts__box .order input:not(:last-child) {
  background: transparent;
  border-bottom: 0.1rem solid #7B7A9F;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 2rem;
  color: #141515;
}
.contacts__box .order input:first-child {
  margin-bottom: 1.2rem;
}
.contacts__box .order input:nth-child(2) {
  margin-bottom: 1.6rem;
}
.contacts__box .order input:last-child {
  display: inline-block;
  position: relative;
  background-color: #5188DA;
  color: #FFF;
  padding: 2rem 6rem;
  border-radius: 2.6rem;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem;
  transition: all 0.3s;
}
.contacts img {
  width: 100%;
  margin-bottom: auto;
}
.contacts img.img_desktop {
  display: block;
}
.contacts img.img_mobile {
  display: none;
}
.contacts .foot {
  padding: 4.8rem 3.2rem 7.6rem;
  display: flex;
  flex-direction: column;
}
.contacts .foot__top {
  display: flex;
  gap: 4rem;
  justify-content: center;
  order: 1;
}
.contacts .foot__top a {
  color: #434443;
}
.contacts .foot__logo {
  display: none;
  order: 0;
  margin-inline: auto;
  margin-bottom: 2.8rem;
}
.contacts .foot__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
  order: 2;
}
.contacts .foot__bottom p {
  color: #9A9DA3;
}
.contacts .foot__bottom a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.contacts .foot__bottom a img {
  width: 1.6rem;
  height: 1.6rem;
}

@media all and (max-width: 76.8rem) {
  .contacts {
    padding-top: 6rem;
  }
  .contacts__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .contacts__heading {
    margin-inline: 1.6rem;
  }
  .contacts__box {
    border-top: none;
    flex-direction: column;
    padding-inline: 1.6rem;
  }
  .contacts__box_inner {
    width: 100%;
    border: none;
  }
  .contacts__box .addresses {
    padding: 0;
    margin-bottom: 4rem;
  }
  .contacts__box .addresses h2 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .contacts__box .order {
    padding: 0;
    margin-bottom: 3.2rem;
  }
  .contacts__box .order h2 {
    margin-bottom: 1.2rem;
  }
  .contacts__box .order form {
    display: flex;
    flex-direction: column;
  }
  .contacts__box .order input:first-child {
    margin-bottom: 2rem;
  }
  .contacts__box .order input:nth-child(2) {
    margin-bottom: 2rem;
  }
  .contacts img.img_desktop {
    display: none;
  }
  .contacts img.img_mobile {
    display: block;
  }
  .contacts .foot {
    padding: 6rem 1.6rem 2rem;
  }
  .contacts .foot__top {
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
  }
  .contacts .foot__logo {
    display: block;
  }
  .contacts .foot__bottom {
    margin-top: 3.2rem;
    flex-direction: row;
  }
}
@media all and (max-width: 35rem) {
  .contacts .foot__bottom {
    flex-direction: column;
    align-items: center;
  }
}
.vaccine_home {
  padding-top: 4.4rem;
  padding-bottom: 7.6rem;
  height: 100%;
}
.vaccine_home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-blend-mode: darken;
  background: url(../src/img/vaccine_home_bg.webp) center/cover, rgba(23, 23, 23, 0.8);
}
.vaccine_home__content {
  width: 69.3vw;
  height: 100%;
  padding-left: 3.2rem;
  padding-right: 5.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vaccine_home__box {
  display: flex;
  flex-direction: column;
}
.vaccine_home__box-descr {
  margin-left: 8rem;
  margin-top: 1.2rem;
}
.vaccine_home__box .for-margin {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-top: 2.8rem;
}
.vaccine_home__box .for-margin:last-child {
  margin-top: 1.6rem;
}

@media all and (max-width: 76.8rem) {
  .vaccine_home {
    padding-top: 0;
    padding-bottom: 4rem;
    height: 100vh;
  }
  .vaccine_home__content {
    width: 100%;
    padding-inline: 1.6rem;
    justify-content: end;
  }
  .vaccine_home__content .address {
    display: none;
  }
  .vaccine_home__box-descr {
    margin-left: 0;
    margin-top: 1.6rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .vaccine_home__box .for-margin {
    width: 100%;
    margin-left: 0;
    margin-top: 4.3rem;
    text-align: center;
  }
}
.vaccine_immunocomplex {
  padding-top: 4.4rem;
  height: 100%;
}
.vaccine_immunocomplex_content {
  width: 69.3vw;
  height: 100%;
}
.vaccine_immunocomplex__heading {
  position: relative;
  flex-direction: row;
}
.vaccine_immunocomplex__heading h2 {
  color: #434443;
}
.vaccine_immunocomplex__heading h3 {
  color: #063479;
}
.vaccine_immunocomplex__heading .inner {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.vaccine_immunocomplex__heading .box-swiper-items {
  position: relative;
  width: 100%;
  max-width: 20rem;
  margin-right: 2rem;
  margin-left: auto;
  display: flex;
  align-items: end;
  gap: 1rem;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-pagination {
  top: unset;
  left: unset;
  position: relative;
  order: 0;
  height: 0.2rem;
  bottom: 1.2rem;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-pagination span {
  background-color: #5188DA;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-prev, .vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-next {
  top: unset;
  left: unset;
  right: unset;
  margin: 0;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-prev::after, .vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-next::after {
  font-size: 1.5rem;
  color: #5188DA;
  border-radius: 50%;
  border: 1px solid #5188DA;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-next {
  order: 2;
}
.vaccine_immunocomplex__heading .box-swiper-items .swiper-immunocomplex-button-prev {
  order: 1;
}
.vaccine_immunocomplex__box {
  margin-top: 2rem;
  height: 100%;
  border-top: 0.05rem solid #7B7A9F;
}
.vaccine_immunocomplex .swiper-immunocomplex {
  height: 87%;
  overflow: hidden;
}
.vaccine_immunocomplex .swiper-immunocomplex > .swiper-wrapper > .swiper-slide {
  height: 50%;
}
.vaccine_immunocomplex__item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.6rem 3.2rem 2rem;
  height: 100%;
  align-items: center;
  border: 0.05rem solid #7B7A9F;
  margin-bottom: auto;
}
.vaccine_immunocomplex__item:hover img {
  transform: scale(1.2);
}
.vaccine_immunocomplex__item img {
  width: 20rem;
  height: 20rem;
  transition: transform 0.2s ease-in-out;
}
.vaccine_immunocomplex__item .item_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.vaccine_immunocomplex__item .item_bottom h3 {
  color: #063479;
}
.vaccine_immunocomplex__item .item_bottom a {
  color: #5188DA;
}

@media all and (max-width: 76.8rem) {
  .vaccine_immunocomplex {
    padding-top: 6rem;
  }
  .vaccine_immunocomplex_content {
    width: 100%;
  }
  .vaccine_immunocomplex__heading {
    margin-inline: 1.6rem;
  }
  .vaccine_immunocomplex__heading .inner {
    gap: 1.2rem;
  }
  .vaccine_immunocomplex__heading .box-swiper-items {
    display: none;
  }
  .vaccine_immunocomplex .swiper-immunocomplex {
    height: 100%;
    overflow: visible;
  }
  .vaccine_immunocomplex .swiper-immunocomplex > .swiper-wrapper > .swiper-slide {
    height: 100%;
  }
  .vaccine_immunocomplex__item {
    padding: 1.6rem 2rem;
  }
  .vaccine_immunocomplex__item:hover img {
    transform: scale(1.1);
  }
}
.product {
  height: 100%;
  padding-left: 19.5833333333%;
  padding-right: 11.183333%;
}
.product__links {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.product__links span {
  position: relative;
  margin-left: 7rem;
  color: #7B7A9F;
  font-weight: 700;
}
.product__links span.paragraph-h {
  color: #063479;
}
.product__links span.paragraph-h::before {
  background: #063479;
  width: 5.6rem;
  margin-left: 0;
}
.product__links span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -7rem;
  background: #7B7A9F;
  width: 2.8rem;
  height: 0.1rem;
  margin-left: 2.8rem;
}
.product__content {
  width: 100%;
  padding-top: 4.4rem;
}
.product__content .address {
  padding-left: 3.2rem;
  color: #434443;
}
.product__content .wrapper_flex {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.1rem solid #7B7A9F;
  border-bottom: 0.1rem solid #7B7A9F;
  width: 100%;
}
.product__content .wrapper_flex .image {
  max-width: 20.4rem;
  padding: 3rem;
}
.product__content .wrapper_flex .image img {
  width: 100%;
  height: 100%;
}
.product__content .wrapper_flex .info {
  padding: 4rem 3.2rem 4.4rem;
  border-left: 0.1rem solid #7B7A9F;
}
.product__content .wrapper_flex .info h1 {
  margin-bottom: 1.6rem;
  max-width: 46.7rem;
  color: #434443;
}
.product__content .wrapper_flex .info p {
  max-width: 46.7rem;
  color: #434443;
}
.product__content .wrapper_flex a {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: auto;
  margin-right: 3.2rem;
  margin-bottom: 3.2rem;
}
.product__content .wrapper_composition {
  padding: 2.8rem 3.2rem 8.8rem;
  border-bottom: 0.1rem solid #7B7A9F;
  display: flex;
  gap: 2rem;
}
.product__content .wrapper_composition .left, .product__content .wrapper_composition .right {
  max-width: 50%;
}
.product__content .wrapper_composition h3 {
  color: #063479;
  margin-bottom: 0.4rem;
}
.product__content .wrapper_composition h3:not(:first-child) {
  margin-top: 1.2rem;
}
.product__content .wrapper_composition p {
  color: #434443;
}

.footer_product {
  padding-left: 19.5833333333%;
  padding-right: 11.183333%;
  padding-top: 4.8rem;
  padding-bottom: 7.6rem;
}
.footer_product .top {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 4.8rem;
}
.footer_product .top a {
  color: #434443;
}
.footer_product .bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: 3.2rem;
}
.footer_product .bottom a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.footer_product .bottom p, .footer_product .bottom a {
  color: #9A9DA3;
}
.footer_product .logo {
  display: none;
}

@media all and (max-width: 76.8rem) {
  .product {
    padding-left: 0;
    padding-right: 0;
  }
  .product__links {
    display: none;
  }
  .product__content {
    padding-top: 8rem;
  }
  .product__content .address {
    display: none;
  }
  .product__content .wrapper_flex {
    margin-top: 0;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border-top: none;
    border-bottom: none;
  }
  .product__content .wrapper_flex .image {
    max-width: 100%;
    padding: 2rem;
    order: 1;
    border-bottom: 0.1rem solid #7B7A9F;
    width: 100%;
    text-align: center;
    margin-bottom: 3.2rem;
  }
  .product__content .wrapper_flex .image img {
    max-width: 20rem;
  }
  .product__content .wrapper_flex .info {
    padding: 1.6rem;
    border-left: none;
    order: 0;
    border-bottom: 0.1rem solid #7B7A9F;
  }
  .product__content .wrapper_flex .info h1 {
    margin-bottom: 0.4rem;
    max-width: 100%;
  }
  .product__content .wrapper_flex .info p {
    max-width: 100%;
  }
  .product__content .wrapper_flex a {
    margin-right: 0;
    margin-bottom: 0;
    width: 90%;
    text-align: center;
    margin-inline: 1.6rem;
    order: 2;
  }
  .product__content .wrapper_composition {
    padding: 0 1.6rem 3.2rem;
    border-bottom: 0.1rem solid #7B7A9F;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 5.2rem;
  }
  .product__content .wrapper_composition .left, .product__content .wrapper_composition .right {
    max-width: 100%;
  }
  .footer_product {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .footer_product .top {
    gap: 0.8rem;
    align-items: center;
    margin-bottom: 3.2rem;
    flex-direction: column;
  }
  .footer_product .bottom {
    padding-inline: 0;
  }
  .footer_product .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.8rem;
  }
}
@media all and (max-width: 35rem) {
  .footer_product .bottom {
    flex-direction: column;
    align-items: center;
  }
}
.home_about {
  height: 100%;
}
.home_about__bg_logo {
  position: absolute;
  top: 0;
  right: 11.1111111111%;
  z-index: -1;
}
.home_about .home__box {
  margin-left: 0;
  margin-top: 22rem;
}
.home_about .home__content {
  height: 100%;
}
.home_about .home__bg {
  background: url(../src/img/home_about_bg.webp) center/cover, rgba(23, 23, 23, 0.8);
}
.home_about__bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: auto;
  padding-right: 3.2rem;
}
.home_about__bottom h4 {
  color: #FFF;
}
.home_about__bottom p {
  max-width: 45.8rem;
}

@media all and (max-width: 76.8rem) {
  .home_about {
    height: 100vh;
    padding: 0 0 6rem 0;
  }
  .home_about__bg_logo {
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
    z-index: -1;
    right: unset;
  }
  .home_about__bg_logo svg {
    width: 100%;
    height: 100%;
  }
  .home_about .home__box {
    margin-left: 0;
    margin-top: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: -moz-fit-content;
    height: fit-content;
  }
  .home_about .home__box-title {
    margin-top: 0;
  }
  .home_about__bottom {
    flex-direction: column-reverse;
    align-items: start;
    padding-right: 0;
    gap: 2.4rem;
  }
  .home_about__bottom h4 {
    color: #FFF;
  }
  .home_about__bottom p {
    max-width: 45.8rem;
  }
}
.facts {
  height: 100%;
  padding-top: 4.4rem;
}
.facts__content {
  width: 69.3vw;
  height: 100%;
}
.facts__heading h2 {
  color: #434443;
}
.facts__heading h3 {
  color: #063479;
}
.facts__box {
  margin-top: 12.4rem;
  padding-inline: 3.2rem;
}
.facts__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
  row-gap: 4.5rem;
}
.facts__grid .item h2 {
  color: #5188DA;
  margin-bottom: 1.2rem;
}
.facts__grid .item p {
  color: #434443;
}

@media all and (max-width: 76.8rem) {
  .facts {
    padding-top: 6rem;
    padding-bottom: 12rem;
  }
  .facts__content {
    width: 100%;
    padding-inline: 1.6rem;
  }
  .facts__box {
    margin-top: 2rem;
    padding-inline: 0;
  }
  .facts__grid {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 4.4rem;
         column-gap: 4.4rem;
  }
  .facts__grid .item h3 {
    font-size: 5rem;
    line-height: 5.6rem;
  }
}
.branches {
  padding-top: 4.4rem;
  height: 100%;
}
.branches::after {
  content: "";
  background-color: #5188DA;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.branches__content {
  height: 100%;
  width: 69.3vw;
}
.branches__heading {
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  border-left: 0.8rem solid #DAE9FF;
}
.branches__heading .left {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.branches__heading .right {
  max-width: 53.6rem;
  padding-right: 3.2rem;
}
.branches__box {
  padding-inline: 3.2rem;
  margin-top: 4.4rem;
}
.branches__box svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.branches__box svg path {
  transition: transform 0.4s ease-in-out;
}
.branches__box svg path:hover {
  transform: translateY(-1rem);
}

@media all and (max-width: 76.8rem) {
  .branches {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .branches__content {
    width: 100%;
    padding-inline: 1.6rem;
  }
  .branches__heading {
    flex-direction: column;
    align-items: start;
    border-left: none;
    padding: 0;
    gap: 2rem;
  }
  .branches__heading .left {
    padding-left: 1.2rem;
    border-left: 0.8rem solid #DAE9FF;
    gap: 1.2rem;
  }
  .branches__heading .right {
    max-width: 100%;
    padding-right: 0;
  }
  .branches__box {
    padding-inline: 0;
    margin-top: 2rem;
  }
  .branches__box svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
  .branches__box svg path {
    transition: transform 0.4s ease-in-out;
  }
  .branches__box svg path:hover {
    transform: translateY(-1rem);
  }
}
.brands {
  padding-top: 4.4rem;
  height: 100%;
}
.brands__content {
  height: 100%;
  width: 69.3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.brands__heading h2 {
  color: #434443;
}
.brands__heading h3 {
  color: #063479;
}
.brands__box {
  margin-top: 8.2rem;
}
.brands__box .swiper-brands {
  height: 24rem;
  border-top: 0.05rem solid #7B7A9F;
  border-bottom: 0.05rem solid #7B7A9F;
  overflow: hidden;
}
.brands__box .swiper-brands .swiper-slide {
  height: 100%;
  border: 0.05rem solid #7B7A9F;
  padding: 3rem;
}
.brands__box .swiper-brands .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.brands__box .swiper-brands-btns {
  margin-top: 3.6rem;
  width: 100%;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}
.brands__box .swiper-brands-btns .swiper-brands-left, .brands__box .swiper-brands-btns .swiper-brands-right {
  cursor: pointer;
}
.brands__foot {
  margin-top: 3.6rem;
  border-top: 0.1rem solid #7B7A9F;
  padding: 4.8rem 3.2rem 7.6rem;
}
.brands__foot .logo {
  display: none;
}
.brands__foot .top {
  display: flex;
  justify-content: center;
  gap: 4rem;
}
.brands__foot .top a {
  color: #434443;
}
.brands__foot .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}
.brands__foot .bottom p {
  color: #9A9DA3;
}
.brands__foot .bottom a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

@media all and (max-width: 76.8rem) {
  .brands {
    padding-top: 6rem;
  }
  .brands__content {
    width: 100%;
  }
  .brands__heading {
    margin-inline: 1.6rem;
  }
  .brands__box {
    margin-top: 4rem;
  }
  .brands__box .swiper-brands {
    height: 19rem;
  }
  .brands__box .swiper-brands .swiper-slide {
    padding: 2rem;
  }
  .brands__foot {
    margin-top: 6rem;
    padding: 6rem 1.6rem 2rem;
  }
  .brands__foot .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2.8rem;
  }
  .brands__foot .top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8rem;
  }
  .brands__foot .bottom {
    flex-direction: column;
    align-items: center;
    margin-top: 3.2rem;
  }
}/*# sourceMappingURL=style.css.map */