.company
    padding-top: 4.4rem
    height: 100%
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: -1
        background-blend-mode: darken
        background: url(../src/img/bg-about.webp) center / cover, #171717CC
    &__content
        width: 69.3vw
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between

    &__box
        padding: 2rem 6.4rem 4rem 3.2rem
        display: flex
        flex-direction: column
        a
            width: fit-content
            margin-left: auto
        &_desc
            display: flex
            gap: 3.2rem
            p
                max-width: 43.5rem
    &__facts
        display: grid
        grid-template-columns: repeat(4, 1fr)
        height: 26.341463414634145vh
        border-top: .1rem solid $color-gray
        margin-top: auto

        .fact
            padding: 3.6rem 3.2rem

            &:not(:last-child)
                border-right: .1rem solid $color-gray
                

            span
                color: $-color-gray-light
                margin-bottom: 2.4rem
                display: inline-block
            h3
                color: $color-white

@media all and ( max-width: 76.8rem )
    .company
        padding-top: 6rem
        &__bg
            width: 100%
            height: 100%
        &__content
            width: 100%
            display: flex
            flex-direction: column
            justify-content: space-between

            .heading
                margin-inline: 1.6rem


        &__box
            padding: 0
            margin-top: 2rem
            padding-inline: 1.6rem
            a
                width: 100%
                margin-left: 0
                text-align: center
            &_desc
                flex-direction: column
                gap: 0
                margin-bottom: 2.8rem
                p
                    max-width: 100%
        &__facts
            display: grid
            grid-template-columns: repeat(1, 1fr)
            height: fit-content
            border-top: none
            margin-top: 2.7rem

            .fact
                padding: 1.4rem 1.6rem
                display: flex
                gap: 1.2rem
                align-items: center

                &:not(:last-child)
                    border-right: none

                &:not(:first-child)
                    border-top: .1rem solid #555

                span
                    margin-bottom: 0
                    font-size: 2.8rem
                    line-height: 3.2rem