body
    background: gray

.home
    padding: 4.4rem 7.1rem 7.6rem 3.2rem
    &__bg
        position: absolute
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: -1
        background-blend-mode: darken
        background: url(../src/img/main-bg.webp) center / cover, #171717CC
          
    &__content
        width: 67vw
        display: flex
        flex-direction: column

    &__box
        margin-top: 18.4rem
        margin-left: auto
        margin-right: auto
        display: flex
        flex-direction: column
        &-title
            .title-first__span
                &:nth-child(3)
                    margin-left: 8rem
                &:last-child
                    margin-left: 16rem
        &-descr
            max-width: 42.9rem
            margin-left: auto
            margin-top: 1.6rem
        .for-margin
            margin: 9.2rem 22.9rem 0 auto
